<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout :: layout (~{::body})">
    <head>
        <title>Registration page</title>
    </head>
    <body>
        <div class="bg-image " style="
              background-image: url('/img/background/E810h.png');
              background-attachment: fixed;
              background-position: center center;
              -webkit-background-size: cover;
              -moz-background-size: cover;
              background-size: cover;
              -o-background-size: cover;
               height: 100vh;
            ">

            <div class="col mb-4 white-text">
                <!--Form-->
                <div class="card mx-auto w-25 text-light" style = "background-color: rgba(255,255,255,0.08);">

                    <div class="card-body">
                        <!--Header-->
                        <div class="text-center">
                            <h3 class="white-text">
                                <i class="fas fa-user white-text"></i> Register</h3>
                            <hr class="hr-light">
                        </div>
                        <!--Body-->
                        <form class="container" action="#" th:action="@{/registration}" th:object="${userInfoDTO}" method="post">

                            <div class="md-form">
                                    <div class="alert alert-danger" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
                                    <input type="text" th:field="*{login}" name="login" id="login" class="white-text form-control" placeholder="6 characters min">
                                    <label for="login" class="active">Your login</label>
                            </div>
                            <div class="md-form">
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                                <input type="password" th:field="*{password}" class="form-control shadow" placeholder="7 characters min" id="password">
                                <label for="password" class="active">Your password</label>
                            </div>
                            <div class="md-form">
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{repeatPassword}"></div>
                                <input type="password" th:field="*{repeatPassword}" class="form-control shadow" placeholder="Repeat password" id="repeatPassword">
                                <label for="repeatPassword">Repeat Password:</label>
                            </div>
                            <div class="md-form">
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
                                <input type="text" th:field="*{firstName}" class="form-control shadow" placeholder="Enter your name" id="firstName">
                                <label for="firstName">First Name:</label>
                            </div>
                            <div class="md-form">
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('secondName')}" th:errors="*{secondName}"></div>
                                <input type="text" th:field="*{secondName}" class="form-control shadow" placeholder="Enter your last name" id="lastName">
                                <label for="lastName">Last Name:</label>
                            </div>
                            <div class="md-form">
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"></div>
                                <input type="text" th:field="*{middleName}" class="form-control shadow" placeholder="Enter your middle name" id="middleName">
                                <label for="middleName">Middle Name:</label>
                            </div>
                            <div class="md-form">
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                                <input type="email" th:field="*{email}" class="form-control shadow " placeholder="Enter valid email" id="email">
                                <label for="email">Email address:</label>
                            </div>
                            <div style="text-align: center">
                                <button type="submit" class="btn btn-primary shadow" >Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>