<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout :: layout (~{::body})">
<head>
    <title>Profile page</title>
</head>
<body>
    <div class="bg-image" style="
                  background-image: url('/img/background/tradingback.jpg');
                  background-attachment: fixed;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  background-size: cover;
                  -o-background-size: cover;
                  height: 100vh;
           ">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.5); height: 100vh">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-xl-5 mt-xl-4 pl-xl-1">
                        <table class="table table-dark table-hover" style = "background-color: rgba(41,43,44,0.7)">
                            <thead>

                            <tr>
                                <th colspan="2">Profile info</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Login</td>
                                <td th:text="${userInfoDTO.login}"></td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td th:text="${userInfoDTO.email}"></td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td th:text="${userInfoDTO.firstName}"></td>
                            </tr>
                            <tr>
                                <td>Second name</td>
                                <td th:text="${userInfoDTO.secondName}"></td>
                            </tr>
                            <tr>
                                <td>Middle name</td>
                                <td th:text="${userInfoDTO.middleName}"></td>
                            </tr>
                            <tr>
                                <td>Account status</td>
                                <td th:switch="${userInfoDTO.userRole.toString}">
                                    <div th:case="'Registered'">
                                         <div class="spinner-border spinner-border-sm text-warning"></div>
                                         <div class="bg-warning text-dark" style="display: inline; text-align: center" th:text="${userInfoDTO.userRole.title}"></div>
                                    </div>
                                    <div th:case="'Sent'">
                                        <div class="spinner-border spinner-border-sm text-primary"></div>
                                        <div class="bg-info text-dark" style="display: inline; text-align: center;" th:text="${userInfoDTO.userRole.title}"></div>
                                    </div>
                                    <div th:case="'Approved'">
                                        <div class="bg-success" style="display: inline; text-align: center" th:text="${userInfoDTO.userRole.title}"></div>
                                    </div>
                                    <div th:case="'Rejected'">
                                        <div class="bg-danger" style="display: inline; text-align: center" th:text="${userInfoDTO.userRole.title}"></div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
</body>

</html>