<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout :: layout (~{::body})">
<head>
    <title>Profile page</title>
</head>
<body>
<!--    <div class="jumbotron jumbotron-fluid bg-light mb-0 p-3">-->
    <div class="container-fluid">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
            </tr>
            <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
            </tr>
            </tbody>
        </table>


<!--        <form class="container" th:action="@{/registration}" th:object="${userInfoDTO}" method="post" style="width: 20%">-->

<!--            <div class="form-group">-->
<!--                <label for="login">Login:</label>-->
<!--                <input type="text" th:field="*{login}" class="form-control shadow" placeholder="Enter a desired login" id="login">-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label for="pwd">Password:</label>-->
<!--                <input type="password" th:field="*{password}" class="form-control shadow" placeholder="Enter password (6 characters min)" id="pwd">-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label for="rpwd">Repeat Password:</label>-->
<!--                <input type="password" th:field="*{repeatPassword}" class="form-control shadow" placeholder="Repeat password" id="rpwd">-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label for="firstName">First Name:</label>-->
<!--                <input type="text" th:field="*{firstName}" class="form-control shadow" placeholder="Enter your name" id="firstName">-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label for="middleName">Middle Name:</label>-->
<!--                <input type="text" th:field="*{middleName}" class="form-control shadow" placeholder="Enter your middle name" id="middleName">-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label for="lastName">Last Name:</label>-->
<!--                <input type="text" th:field="*{secondName}" class="form-control shadow" placeholder="Enter your last name" id="lastName">-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label for="email">Email address:</label>-->
<!--                <input type="email" th:field="*{email}" class="form-control shadow " placeholder="Enter email" id="email">-->
<!--            </div>-->
<!--            <div style="text-align: center">-->
<!--                <button type="submit" class="btn btn-primary shadow" >Submit</button>-->
<!--            </div>-->

<!--        </form>-->
    </div>
</body>

</html>