<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top font-weight-bold shadow-lg" th:fragment="nav">
        <div class="container-fluid">
            <a class="navbar-brand" href="/main">
                <img src="/static/img/kafka-icon.png" th:src="@{/img/kafka-icon.png}" alt="" class="d-inline-block" width="30"> High yield investing project
            </a>
            <div th:if="${principalId}">
                <ul class="navbar-nav">
                    <a class="nav-link" th:text="${userInfoDTO.fullNameTrunc}" th:href="@{/profile}"></a>
                    <li class="nav-brand active">
                        <form name="logoutForm" th:action="@{/logout}" method="post">
                            <button class="btn btn-light shadow" type="submit">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</html>