<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-sm bg-secondary navbar-dark sticky-top font-weight-bold shadow-lg" th:fragment="nav">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/static/img/kafka-icon.png" th:src="@{/img/kafka-icon.png}" alt="" class="d-inline-block" width="40"> Lab test
            </a>
        </div>
    </nav>

</html>