<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout :: layout (~{::body})">
    <head>
<!--        <title>Main page</title>-->
    </head>
    <body>
            <div class="jumbotron jumbotron-fluid bg-light" style="margin-bottom: 0; padding: 1%" th:align="center">
                <div class="container">
                    <h1>Welcome!</h1>

                    <div th:if="${param.error}">
                        <div class="alert alert-danger w-20">
                            Wrong login or password.
                        </div>
                    </div>

                    <form class="container" th:action="@{/main}" method="post" style="width: 20%; margin-bottom: 2px">
                        <div class="form-group">
                            <input type="text" class="form-control shadow" name="login" placeholder="Login" id="login">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control shadow" name="password" placeholder="Password" id="password">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary shadow" type="submit">Sign in</button>
                        </div>


                        <div class="form-group">
                            <a th:href="@{/registration}" class="btn btn-success shadow">Register</a>
                        </div>
                    </form>

                </div>
            </div>

    </body>
</html>